@model IEnumerable<ProyectoFinal.Models.Usuarios>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codigoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ultimaFechaConexion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estadoUsuario)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.codigoUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ultimaFechaConexion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estadoUsuario)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id_usuario }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id_usuario }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id_usuario })
                </td>
            </tr>
        }

    </table>
</body>
</html>
