@model IEnumerable<ProyectoFinal.Models.ItemDeCarrito>

@{
    ViewBag.Title = "Carrito de Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/Site.css")
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <!-- Banner de Bienvenida -->
    <section id="banner">
        <div class="container">
            <a>
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/Assets/img/BANNER_CARRRITO.png" alt="Banner" class="img-fluid">
                    </div>
                </div>
            </a>
        </div>
    </section>
    <br />
    <br />

    @if (!Model.Any())
    {
        <div class='empty-cart-message'>
            <div class='empty-cart-box'>
                <i class='fas fa-shopping-cart' style='color: #a4a4a4;'></i>
                <h1><b>¡Tu carrito está vacío!</b></h1>
            </div>
        </div>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Producto.nombreProducto</td>
                        <td>@item.Cantidad</td>
                        <td>₡@item.Producto.precioProducto</td>
                        <td>
                            <form action="@Url.Action("EliminarDelCarrito", "CarritoDeCompras")" method="post" style="display:inline;">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="productoId" value="@item.Producto.id_producto" />
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="mt-4">
            <form action="@Url.Action("Checkout", "Pago")" method="get">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Completar Compra</button>
            </form>
        </div>
    }
    <br />
</body>
</html>
